
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #E1F0DA;
}
.page-container {
    border: 2px solid #99BC85; /* 페이지를 감싸는 테두리 추가 */
    border-radius: 100px; /* 둥근 테두리 반경 설정 */
    padding: 220px; /* 테두리와 내용 사이의 여백 추가 */
    padding-left: 330px;
    padding-right: 330px;
}
.project-container {
    display: flex;
}

.project {
    margin: 20px;
    text-align: center;
}

.project-image {
    border-radius: 10px;
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.project-info {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
}

.project-info h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
}

.project-info p {
    color: #666;
}

.view-details-button {
    display: inline-block;
    padding: 8px 15px;
    text-decoration: none;
    background-color: #99BC85;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.view-details-button:hover {
    background-color: #7DA570;
}
